@model IEnumerable<catalogo_de_filme.Models.CardModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>FILMES MAIS ASSISTIDOS</h2>
    <div class="containerHomePage">
        <div class="cards">
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
        </div>
    </div>
    <h2>SERIES MAIS ASSISTIDAS</h2>
    <div class="containerHomePage">
        <div class="cards">
             @if (Model != null && Model.Any())
             {
              @foreach (CardModel card in Model)
             {
                <div class="card">
                    <img src="@card.ImageUrl"/>
                    <h5 class="card-title">@card.Title</h5>
                    <p class="card-text">@card.Description</p>
                </div>
                <div class="card">
                    <img src="@card.ImageUrl"/>
                    <h5 class="card-title">@card.Title</h5>
                    <p class="card-text">@card.Description</p>
                </div>
                <div class="card">
                    <img src="@card.ImageUrl"/>
                    <h5 class="card-title">@card.Title</h5>
                    <p class="card-text">@card.Description</p>
                </div>
            }
            }
        </div>
    </div>
</div>

