@model IEnumerable<catalogo_de_filme.Models.Card>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>FILMES MAIS ASSISTIDOS</h2>
    <div class="containerHomePage">
        <div class="cards">
            @if (Model != null && Model.Any())
            {
                @foreach (var card in Model)
                {
                    <div class="card">
                        <img src="@card.ImageUrl" />
                        <h5 class="card-title">@card.Title</h5>
                        <p class="card-text">@card.Description</p>
                    </div>
                }
            }
    </div>
    <h2>SERIES MAIS ASSISTIDAS</h2>
    <div class="containerHomePage">
        <div class="card-container">
             @if (Model != null && Model.Any())
             {
             @foreach (var card in Model)
             {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"  src="@card.ImageUrl" />
                    <h5 class="card-title">@card.Title</h5>
                    <p class="card-text">@card.Description</p>
                </div>
            }
            }
        </div>
    </div>
</div>
</div>

